<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>TA Recruit</display-name>

  <listener>
    <listener-class>app.web.AppBootstrapListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>app.web.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>app.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>app.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>app.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TaProfileServlet</servlet-name>
    <servlet-class>app.web.ta.TaProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaProfileServlet</servlet-name>
    <url-pattern>/ta/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JobsServlet</servlet-name>
    <servlet-class>app.web.common.JobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsServlet</servlet-name>
    <url-pattern>/jobs</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>app.web.ta.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/ta/apply</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MyApplicationsServlet</servlet-name>
    <servlet-class>app.web.ta.MyApplicationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyApplicationsServlet</servlet-name>
    <url-pattern>/ta/applications</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MoPostJobServlet</servlet-name>
    <servlet-class>app.web.mo.MoPostJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoPostJobServlet</servlet-name>
    <url-pattern>/mo/post-job</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MoApplicantsServlet</servlet-name>
    <servlet-class>app.web.mo.MoApplicantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoApplicantsServlet</servlet-name>
    <url-pattern>/mo/applicants</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminWorkloadServlet</servlet-name>
    <servlet-class>app.web.admin.AdminWorkloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminWorkloadServlet</servlet-name>
    <url-pattern>/admin/workload</url-pattern>
  </servlet-mapping>

</web-app>

